servicesrasp/public_html/examples.json
[
    {
            "method":"create",
            "table":"tr_sensorhumedad",
            "columns":"idtr_sensorhumedad,id_sensorhumedad,lectura,fecha,ult_intervalo,flg_motivoriego",
            "idtr_sensorhumedad":1,
            "id_sensorhumedad" : 1,
            "lectura" : 200,
            "fecha": "2019-01-01 21:21",
            "ult_intervalo":"2019-1-01 00:50",
            "flg_motivoriego": "F"
    },
    {
	"method":"read",
	"table":"tr_sensorhumedad"
},
    {
	"method":"read_id",
	"table":"tr_sensorhumedad",
	"columns":"idtr_sensorhumedad",
	"idtr_sensorhumedad":1
    },
    
]
[msg.temp, msg.foco, msg.pot, msg.hum1, msg.hum2, msg.hum3, msg.hum4];


[{"id":"cf8aba9d.102928","type":"tab","label":"Solucion Completa","disabled":false,"info":""},{"id":"b4c9b6b4.8b55e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d90c431.01d0dc","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Courier,monospace","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Ecologico","default":"#4B7930","baseColor":"#4B7930","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":9,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"df020477.0690e8","type":"websocket-listener","z":"","path":"/ws/id","wholemsg":"false"},{"id":"a06f7610.0ac958","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"9520174e.97e858","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"smart-garden","tz":""},{"id":"e15a0266.98b38","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"7b3e259a.b6b6cc","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"d5aabff7.37956","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f497db4a.b0ca78","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"cd0e2b5f.665e98","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5aabff7.37956","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"cd0e2b5f.665e98","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"96eb0044.e02fa","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"3bb291b9.cbe94e","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"f989dbb4.5a57d8","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3caaa089.b8e4c","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"83ab2b6c.049808","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f989dbb4.5a57d8","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"83ab2b6c.049808","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"45a74ff0.1481f","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"4093d373.0014fc","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"6ff0ea44.2ce854","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"64a65ac9.771d64","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"fed95c81.3e5d2","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ff0ea44.2ce854","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"fed95c81.3e5d2","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"9760dab3.2a8c28","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"b0200b28.2e2d08","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"f35695cb.e5b538","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cdde8ac5.d8fe88","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"f3cc249b.9695f8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f35695cb.e5b538","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"f3cc249b.9695f8","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"f17cc687.b0d0d8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"9dba6c45.c0c4","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"66414037.27c6f","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bbde37ab.cb7f58","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"58491fa6.a9265","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"66414037.27c6f","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"58491fa6.a9265","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"d141ce60.bcb38","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"15defe1d.f91632","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"b8e69063.9797e","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ea7e93f4.91f78","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"b76b15ea.e85368","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8e69063.9797e","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"b76b15ea.e85368","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"729d67e1.9f6e18","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"2482b97.c226e46","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"b98aa6c.6143158","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e63bddbb.9c5b9","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"94ac29cf.eeb0b8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b98aa6c.6143158","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"94ac29cf.eeb0b8","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"dc50f78d.1352f8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"c4989406.54ff98","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"aad39893.5b2498","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5370dd63.9d1464","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"939e71aa.0ca2d","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aad39893.5b2498","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"939e71aa.0ca2d","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"c6425ed5.1d876","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"9d4e5b79.6ef9e8","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10158348.62be1d","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"c7ba2390.37542","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5e2148f6.a02768","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"7a515b7d.144824","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c7ba2390.37542","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"7a515b7d.144824","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"2ca694cd.f2500c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"1134bd8a.04b632","type":"ui_group","z":"","name":"Operar","tab":"7125bf55.7532a","order":2,"disp":true,"width":"3","collapse":false},{"id":"e0c6c3d9.5f023","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7d6b7e0a.835e8","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"ece8d6bc.34b158","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"335c74b3.74ed6c","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"55bfd7bf.ac8b48","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7125bf55.7532a","type":"ui_tab","z":"","name":"Control Remoto","icon":"dashboard","order":1},{"id":"ece8d6bc.34b158","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"55bfd7bf.ac8b48","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"1a445c58.97d644","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d114718.7e7939","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"e041267.58223d8","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"75138999.6cab18","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7adc6b0c.c276e4","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"37d3820d.a0b87e","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"75138999.6cab18","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"37d3820d.a0b87e","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"7a81fe5e.15f57","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8dae6efc.67504","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""},{"id":"2ac3147d.6706ac","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"c39164d7.fdcba8","type":"ui_group","z":"cf8aba9d.102928","name":"Monitor de Sensores","tab":"7125bf55.7532a","order":3,"disp":true,"width":"15","collapse":true},{"id":"c2d954a5.a91608","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1dd772d5.4adf9d","type":"mqtt-broker","z":"","name":"AWS Prototipo","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"86ce9bd6.eb0638","clientid":"prototipoIsil","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3aa163c4.b66ebc","type":"mqtt-broker","z":"","name":"AWS ISIL","broker":"aw81qj1195k6g-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"ab9d2c00.fffee","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"86ce9bd6.eb0638","type":"tls-config","z":"","name":"AWS","cert":"/home/pi/certs/c77fcedd69-certificate.pem.crt","key":"/home/pi/certs/c77fcedd69-private.pem.key","ca":"/home/pi/certs/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"ab9d2c00.fffee","type":"tls-config","z":"","name":"Conexion AWS","cert":"/home/pi/certificados/451cd1703b-certificate.pem.crt","key":"/home/pi/certificados/451cd1703b-private.pem.key","ca":"/home/pi/certificados/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"3fc8ef3d.910e3","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"120b27bd.c29b08","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"bb5671e2.343e6","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57e456db.89e068","type":"MySQLdatabase","z":"","host":"smartgarden-database.mysql.database.azure.com","port":"3306","db":"demo","tz":""},{"id":"f640f0fa.85189","type":"comment","z":"cf8aba9d.102928","name":"1ro. Solicitud de envio manual / automatico","info":"","x":200,"y":40,"wires":[]},{"id":"90030872.67bb18","type":"function","z":"cf8aba9d.102928","name":"SplitData","func":"var output = msg.payload.split(\",\");\nmsg = {\n    temp:output[0],\n    foco:output[1],\n    pot:output[2],\n    hum1:output[3],\n    hum2:output[4],\n    hum3:output[5],\n    hum4:output[6]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["a0886ede.9cf55","8e7457fd.12df58"]]},{"id":"bde9ff31.d8f26","type":"comment","z":"cf8aba9d.102928","name":"4to. Recibimos y formateamos la data","info":"","x":190,"y":500,"wires":[]},{"id":"a1ee63cd.d6fc2","type":"function","z":"cf8aba9d.102928","name":"hum1","func":"msg.topic=\"post server h1\";\nvar hoy = new Date();\nvar ss = hoy.getSeconds();\nvar min = hoy.getMinutes();\nvar hh = hoy.getHours();\nvar dd = hoy.getDate();\nvar mm = hoy.getMonth()+1;\nvar yyyy = hoy.getFullYear();\n\nif(ss<10){\n    ss='0'+ss;\n}\nif(min<10){\n    min='0'+min;\n}\nif(hh<10){\n    hh='0'+hh;\n}\nif(dd<10){\n    dd='0'+dd;\n}\nif(mm<10){\n    mm='0'+mm;\n}\n        \nvar fecha = yyyy+'-'+mm+'-'+dd +' '+hh+':'+min+':'+ss;    \n    \nmsg.payload = \"{\\\"method\\\":\\\"update\\\",\\\"table\\\":\\\"tr_sensorhumedad\\\",\\\"columns\\\":\\\"idtr_sensorhumedad,id_sensorhumedad,lectura,fecha,flg_motivoriego\\\",\\\"idtr_sensorhumedad\\\": 1,\\\"id_sensorhumedad\\\": 1, \\\"lectura\\\": \"+msg.hum1+\",\\\"fecha\\\": \\\"\"+fecha+\" \\\",\\\"flg_motivoriego\\\":\\\"F\\\"}\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":480,"wires":[["7b39782e.86ff88","82fe46d3.e8e8b8"]]},{"id":"dcd2b893.b58c48","type":"function","z":"cf8aba9d.102928","name":"InsertEventosQuery","func":"var _mensaje;\nswitch (msg.payload){\n    case \"Z\":\n        _mensaje = \"Se encendió foco\";\n        break;\n    case \"X\":\n        _mensaje = \"Se apagó foco\";\n        break;\n    case \"L\":\n        _mensaje = \"Se encendió Bomba\";\n        break;\n    case \"l\":\n        _mensaje = \"Se apagó Bomba\";\n        break;    \n}\nmsg.topic=\"INSERT INTO Eventos (accion) VALUES (?)\";\nmsg.payload = [_mensaje];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":720,"wires":[[]]},{"id":"e6907578.f061d8","type":"ui_switch","z":"cf8aba9d.102928","name":"","label":"BOMBA","group":"1134bd8a.04b632","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"L","onvalueType":"str","onicon":"","oncolor":"","offvalue":"l","offvalueType":"str","officon":"","offcolor":"","x":400,"y":700,"wires":[["723c4b4e.b972d4","dcd2b893.b58c48"]]},{"id":"723c4b4e.b972d4","type":"serial out","z":"cf8aba9d.102928","name":"","serial":"2ac3147d.6706ac","x":650,"y":780,"wires":[]},{"id":"6d8d93fb.ca0a6c","type":"ui_gauge","z":"cf8aba9d.102928","name":"","group":"c39164d7.fdcba8","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#64d757","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":820,"wires":[]},{"id":"761021fc.115be","type":"ui_chart","z":"cf8aba9d.102928","name":"","group":"c39164d7.fdcba8","order":0,"width":"10","height":"6","label":"Historico Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":860,"wires":[[],[]]},{"id":"a0886ede.9cf55","type":"function","z":"cf8aba9d.102928","name":"SplitToMeters","func":"var temp = {payload : msg.temp};\nvar pot = {payload : msg.pot};\npot.topic = 'General';\nvar hum1 = {payload : msg.hum1};\nhum1.topic='Hum1';\nvar hum2 = {payload : msg.hum2};\nhum2.topic='Hum2';\nvar hum3 = {payload : msg.hum3};\nhum3.topic='Hum3';\nvar hum4 = {payload : msg.hum4};\nhum4.topic='Hum4';\nreturn [temp, pot,hum1,hum2,hum3,hum4];","outputs":6,"noerr":0,"x":160,"y":900,"wires":[["6d8d93fb.ca0a6c"],["cf385769.fec628"],["a7f0dd3e.ee7ba"],["b26d5850.0f1408"],["ce83eb45.0fc458"],["71b5c33.f6a113c"]]},{"id":"fb255fc5.9b05e","type":"comment","z":"cf8aba9d.102928","name":"2do. Inicializamos variables","info":"","x":160,"y":219,"wires":[]},{"id":"60c13ade.b88324","type":"comment","z":"cf8aba9d.102928","name":"3ro. Hacemos Request Manual de la data cada x segundos","info":"","x":250,"y":320,"wires":[]},{"id":"1e10c5dc.c98c5a","type":"trigger","z":"cf8aba9d.102928","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"27","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":730,"y":600,"wires":[["5ae75a0d.a85594"]]},{"id":"e22834e4.ce0358","type":"comment","z":"cf8aba9d.102928","name":"Temporizado para grabar la data del Arduino","info":"","x":490,"y":380,"wires":[]},{"id":"7b39782e.86ff88","type":"ui_toast","z":"cf8aba9d.102928","position":"bottom left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Grabando data de los sensores","name":"","x":1110,"y":340,"wires":[]},{"id":"cf385769.fec628","type":"range","z":"cf8aba9d.102928","minin":"0","maxin":"1023","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":440,"y":900,"wires":[["9cb41768.954c58","761021fc.115be"]]},{"id":"9cb41768.954c58","type":"ui_gauge","z":"cf8aba9d.102928","name":"","group":"c39164d7.fdcba8","order":0,"width":"4","height":"3","gtype":"wave","title":"Nivel Humedad","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":920,"wires":[]},{"id":"f37ed3f4.e07f8","type":"mqtt in","z":"cf8aba9d.102928","name":"","topic":"isil/iot/control/profe/","qos":"0","broker":"c2d954a5.a91608","x":110,"y":680,"wires":[["e6907578.f061d8","f566a8f5.4b7c18","1a35db9.f424624"]]},{"id":"e3e38df7.f5772","type":"debug","z":"cf8aba9d.102928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":170,"y":780,"wires":[]},{"id":"29f34314.11270c","type":"serial in","z":"cf8aba9d.102928","name":"","serial":"2ac3147d.6706ac","x":90,"y":560,"wires":[["90030872.67bb18","e3e38df7.f5772"]]},{"id":"9780010f.2bdfb","type":"inject","z":"cf8aba9d.102928","name":"","topic":"isil/sensores/001/","payload":"{\"temperatura\":\"30\",\"sensor\":\"80\"}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1460,"wires":[["772775c7.b068ac"]]},{"id":"772775c7.b068ac","type":"mqtt out","z":"cf8aba9d.102928","name":"","topic":"","qos":"0","retain":"","broker":"3aa163c4.b66ebc","x":330,"y":1460,"wires":[]},{"id":"b522f037.76c4a","type":"mqtt in","z":"cf8aba9d.102928","name":"","topic":"isil/sensores/001/#","qos":"0","broker":"3aa163c4.b66ebc","x":150,"y":1540,"wires":[["fbedb38a.330ae"]]},{"id":"fbedb38a.330ae","type":"debug","z":"cf8aba9d.102928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":1540,"wires":[]},{"id":"3421cd5b.435e62","type":"debug","z":"cf8aba9d.102928","name":"ID:","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":1290,"y":420,"wires":[]},{"id":"8e7457fd.12df58","type":"function","z":"cf8aba9d.102928","name":"Control por Variable","func":"var grabar = flow.get('flow_grabar');\nif (grabar === true){\n    //reseteamos\n    flow.set('flow_grabar',false);\n    return msg;\n}\nreturn msg;\n//Si no retorna el flujo muere en este punto","outputs":1,"noerr":0,"x":480,"y":560,"wires":[["1e10c5dc.c98c5a","b934908e.e61cd","dc349bbf.8037d8","f89ae975.63a0c8","e188a598.7c98f8"]]},{"id":"637acd21.a6a124","type":"ui_gauge","z":"cf8aba9d.102928","name":"","group":"c39164d7.fdcba8","order":0,"width":"4","height":"3","gtype":"wave","title":"Humedad Planta 1","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":960,"wires":[]},{"id":"f566a8f5.4b7c18","type":"ui_switch","z":"cf8aba9d.102928","name":"","label":"FOCO","group":"1134bd8a.04b632","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Z","onvalueType":"str","onicon":"","oncolor":"","offvalue":"X","offvalueType":"str","officon":"","offcolor":"","x":390,"y":660,"wires":[["723c4b4e.b972d4","dcd2b893.b58c48"]]},{"id":"8e7baabf.514428","type":"ui_gauge","z":"cf8aba9d.102928","name":"","group":"c39164d7.fdcba8","order":0,"width":"4","height":"3","gtype":"wave","title":"Humedad Planta 2","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":1000,"wires":[]},{"id":"9a88189c.c38568","type":"ui_gauge","z":"cf8aba9d.102928","name":"","group":"c39164d7.fdcba8","order":0,"width":"4","height":"3","gtype":"wave","title":"Humedad Planta 3","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":1040,"wires":[]},{"id":"96821721.d6eaf8","type":"ui_gauge","z":"cf8aba9d.102928","name":"","group":"c39164d7.fdcba8","order":0,"width":"4","height":"3","gtype":"wave","title":"Humedad Planta 4","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":1080,"wires":[]},{"id":"a7f0dd3e.ee7ba","type":"range","z":"cf8aba9d.102928","minin":"0","maxin":"800","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":440,"y":940,"wires":[["637acd21.a6a124","761021fc.115be"]]},{"id":"b26d5850.0f1408","type":"range","z":"cf8aba9d.102928","minin":"0","maxin":"800","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":440,"y":980,"wires":[["8e7baabf.514428","761021fc.115be"]]},{"id":"ce83eb45.0fc458","type":"range","z":"cf8aba9d.102928","minin":"0","maxin":"800","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":440,"y":1020,"wires":[["9a88189c.c38568","761021fc.115be"]]},{"id":"71b5c33.f6a113c","type":"range","z":"cf8aba9d.102928","minin":"0","maxin":"800","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":440,"y":1060,"wires":[["96821721.d6eaf8","761021fc.115be"]]},{"id":"1a35db9.f424624","type":"ui_slider","z":"cf8aba9d.102928","name":"","label":"slider","group":"1134bd8a.04b632","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":390,"y":760,"wires":[[]]},{"id":"82fe46d3.e8e8b8","type":"http request","z":"cf8aba9d.102928","name":"test","method":"POST","ret":"txt","url":"http://smartgarden.produccioneselvis.com/sensorhumedad.php","tls":"","x":1110,"y":400,"wires":[["3421cd5b.435e62"]]},{"id":"740a00c9.71e48","type":"function","z":"cf8aba9d.102928","name":"hum2","func":"msg.topic=\"post server h2\";\nvar hoy = new Date();\nvar ss = hoy.getSeconds();\nvar min = hoy.getMinutes();\nvar hh = hoy.getHours();\nvar dd = hoy.getDate();\nvar mm = hoy.getMonth()+1;\nvar yyyy = hoy.getFullYear();\n\nif(ss<10){\n    ss='0'+ss;\n}\nif(min<10){\n    min='0'+min;\n}\nif(hh<10){\n    hh='0'+hh;\n}\nif(dd<10){\n    dd='0'+dd;\n}\nif(mm<10){\n    mm='0'+mm;\n}\n        \nvar fecha = yyyy+'-'+mm+'-'+dd +' '+hh+':'+min+':'+ss;    \n    \nmsg.payload = \"{\\\"method\\\":\\\"update\\\",\\\"table\\\":\\\"tr_sensorhumedad\\\",\\\"columns\\\":\\\"idtr_sensorhumedad,id_sensorhumedad,lectura,fecha,flg_motivoriego\\\",\\\"idtr_sensorhumedad\\\": 2,\\\"id_sensorhumedad\\\": 2, \\\"lectura\\\": \"+msg.hum2+\",\\\"fecha\\\": \\\"\"+fecha+\" \\\",\\\"flg_motivoriego\\\":\\\"F\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":520,"wires":[["ad9cd4c1.3bfd88"]]},{"id":"4a23feea.14d8a","type":"function","z":"cf8aba9d.102928","name":"hum3","func":"msg.topic=\"post server h3\";\nvar hoy = new Date();\nvar ss = hoy.getSeconds();\nvar min = hoy.getMinutes();\nvar hh = hoy.getHours();\nvar dd = hoy.getDate();\nvar mm = hoy.getMonth()+1;\nvar yyyy = hoy.getFullYear();\n\nif(ss<10){\n    ss='0'+ss;\n}\nif(min<10){\n    min='0'+min;\n}\nif(hh<10){\n    hh='0'+hh;\n}\nif(dd<10){\n    dd='0'+dd;\n}\nif(mm<10){\n    mm='0'+mm;\n}\n        \nvar fecha = yyyy+'-'+mm+'-'+dd +' '+hh+':'+min+':'+ss;    \n    \nmsg.payload = \"{\\\"method\\\":\\\"update\\\",\\\"table\\\":\\\"tr_sensorhumedad\\\",\\\"columns\\\":\\\"idtr_sensorhumedad,id_sensorhumedad,lectura,fecha,flg_motivoriego\\\",\\\"idtr_sensorhumedad\\\": 3,\\\"id_sensorhumedad\\\": 3, \\\"lectura\\\": \"+msg.hum3+\",\\\"fecha\\\": \\\"\"+fecha+\" \\\",\\\"flg_motivoriego\\\":\\\"F\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":560,"wires":[["39fed664.f29aaa"]]},{"id":"5ae75a0d.a85594","type":"function","z":"cf8aba9d.102928","name":"hum4","func":"msg.topic=\"post server h4\";\nvar hoy = new Date();\nvar ss = hoy.getSeconds();\nvar min = hoy.getMinutes();\nvar hh = hoy.getHours();\nvar dd = hoy.getDate();\nvar mm = hoy.getMonth()+1;\nvar yyyy = hoy.getFullYear();\n\nif(ss<10){\n    ss='0'+ss;\n}\nif(min<10){\n    min='0'+min;\n}\nif(hh<10){\n    hh='0'+hh;\n}\nif(dd<10){\n    dd='0'+dd;\n}\nif(mm<10){\n    mm='0'+mm;\n}\n        \nvar fecha = yyyy+'-'+mm+'-'+dd +' '+hh+':'+min+':'+ss;    \n    \nmsg.payload = \"{\\\"method\\\":\\\"update\\\",\\\"table\\\":\\\"tr_sensorhumedad\\\",\\\"columns\\\":\\\"idtr_sensorhumedad,id_sensorhumedad,lectura,fecha,flg_motivoriego\\\",\\\"idtr_sensorhumedad\\\": 4,\\\"id_sensorhumedad\\\": 4, \\\"lectura\\\": \"+msg.hum4+\",\\\"fecha\\\": \\\"\"+fecha+\" \\\",\\\"flg_motivoriego\\\":\\\"F\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":600,"wires":[["7182ed5d.7ebfa4"]]},{"id":"b934908e.e61cd","type":"trigger","z":"cf8aba9d.102928","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"25","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":730,"y":480,"wires":[["a1ee63cd.d6fc2"]]},{"id":"f89ae975.63a0c8","type":"trigger","z":"cf8aba9d.102928","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"35","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":730,"y":560,"wires":[["4a23feea.14d8a"]]},{"id":"dc349bbf.8037d8","type":"trigger","z":"cf8aba9d.102928","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":730,"y":520,"wires":[["740a00c9.71e48"]]},{"id":"ad9cd4c1.3bfd88","type":"http request","z":"cf8aba9d.102928","name":"test","method":"POST","ret":"txt","url":"http://smartgarden.produccioneselvis.com/sensorhumedad.php","tls":"","x":1110,"y":440,"wires":[["3421cd5b.435e62"]]},{"id":"e188a598.7c98f8","type":"trigger","z":"cf8aba9d.102928","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":730,"y":640,"wires":[["76bdbd5.b92cb44"]]},{"id":"76bdbd5.b92cb44","type":"function","z":"cf8aba9d.102928","name":"TEMP1","func":"msg.topic=\"post server t1\";\nvar hoy = new Date();\nvar ss = hoy.getSeconds();\nvar min = hoy.getMinutes();\nvar hh = hoy.getHours();\nvar dd = hoy.getDate();\nvar mm = hoy.getMonth()+1;\nvar yyyy = hoy.getFullYear();\n\nif(ss<10){\n    ss='0'+ss;\n}\nif(min<10){\n    min='0'+min;\n}\nif(hh<10){\n    hh='0'+hh;\n}\nif(dd<10){\n    dd='0'+dd;\n}\nif(mm<10){\n    mm='0'+mm;\n}\n        \nvar fecha = yyyy+'-'+mm+'-'+dd +' '+hh+':'+min+':'+ss;    \n    \nmsg.payload = \"{\\\"method\\\":\\\"update\\\",\\\"table\\\":\\\"tr_sensortemperatura\\\",\\\"columns\\\":\\\"idtr_sensortemperatura,id_sensortemperatura,lectura,fecha,flg_motivoriego\\\",\\\"idtr_sensortemperatura\\\": 1,\\\"id_sensortemperatura\\\": 1, \\\"lectura\\\": \"+msg.temp+\",\\\"fecha\\\": \\\"\"+fecha+\" \\\",\\\"flg_motivoriego\\\":\\\"F\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":640,"wires":[["e60475b1.3cca08"]]},{"id":"39fed664.f29aaa","type":"http request","z":"cf8aba9d.102928","name":"test","method":"POST","ret":"txt","url":"http://smartgarden.produccioneselvis.com/sensorhumedad.php","tls":"","x":1110,"y":480,"wires":[["3421cd5b.435e62"]]},{"id":"e60475b1.3cca08","type":"http request","z":"cf8aba9d.102928","name":"test","method":"POST","ret":"txt","url":"http://smartgarden.produccioneselvis.com/sensorhumedad.php","tls":"","x":1110,"y":560,"wires":[["3421cd5b.435e62"]]},{"id":"7182ed5d.7ebfa4","type":"http request","z":"cf8aba9d.102928","name":"test","method":"POST","ret":"txt","url":"http://smartgarden.produccioneselvis.com/sensorhumedad.php","tls":"","x":1110,"y":520,"wires":[["3421cd5b.435e62"]]}]